set timeout=5
set default=0

insmod all_video
insmod video
insmod video_bochs
insmod gfxterm

set gfxmode=1024x768x32
set gfxpayload=keep

terminal_output gfxterm

menuentry "my os -- production" {
    multiboot2 /boot/kernel_production.bin
    boot
}

menuentry "my os -- testing" {
    multiboot2 /boot/kernel_testing.bin
    boot
}

menuentry "my os -- kernelpanic" {
    multiboot2 /boot/kernel_kernelpanic.bin
    boot
}