/build/

/dist/*
!/dist/x86_64/
/dist/x86_64/*
!/dist/x86_64/kernel_*.iso

/targets/x86_64/disk.img

vault/

*.zip
qemu-crash.log

targets/x86_64/iso/boot/kernel_kernelpanic.bin
targets/x86_64/iso/boot/kernel_production.bin
targets/x86_64/iso/boot/kernel_testing.bin
targets/x86_64/iso/boot/kernel.bin
